<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogFile="log.txt"
        internalLogLevel="Trace">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets async="true">
    <target
      xsi:type="WebService"
      name="ws-logger"
      url="http://localhost:1969/api/log"
      protocol="JsonPost"
      encoding="utf-8"
      includeBOM="false">
      <parameter name="">
        <layout xsi:type="JsonLayout">
          <attribute name="logLevel" layout="${level:format=Ordinal}" />
          <attribute name="message" layout="${message}" />
          <attribute name="category" layout="${callsite}" />
        </layout>
      </parameter>
    </target>
  </targets>
  <rules>
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ws-logger" />
  </rules>
</nlog>